footer {
  bottom: 0;
  width: 100%;
}

/* Custom Alert CSS */
.searchContainer {
  position: relative;
}

.alert-dangerCustom {
  background: #E55F4D;
  color: #f4f4f4;
  font-weight: 600;
}

.alertCustom {
  z-index: 9999;
  font-size: 18px;
  display: block;
  position: absolute;
  margin-left: 50%;
  border-radius: 3px;
  padding: 13px 20px;
  transform: translateX(-50%);
  margin-top: 7px;
}